/*header style*/
/*#head1{
width: 100px;
height: 250px;
background-color: black;
color: white;}*/

#op1{
background-color: black;
color: white;
font-size: 25px;
font-weight: bold;
padding: 5px;}

#op2{
background-color: black;
color: white;
font-size: 20px;
font-weight: bold;
margin-top: -25px;
padding: 5px;}

#op3{
background-color: black;
color: white;
font-size: 15px;
font-weight: bold;
margin-top: -20px;
padding: 5px;}

ul{
list-style-type: none;
float: right;
}
